@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8; /* Ivory background color */
  font-family: "Arial", sans-serif;
}

.header {
  max-width: 900px;
  background-color: #fff; /* Dark background for header */
  border: 1px solid #ddd; /* Light gray border */
  padding: 10px;
  border-radius: 20px;
}

.header .bg-gradient {
  background-image: linear-gradient(to right, #ff0072, #7900ff);
  color: #fff;
}

.header .bg-white {
  background-color: #fff;
  color: #333;
}

.education-section {
  background-color: #fff; /* White background for education section */
  border: 1px solid #ddd; /* Light gray border */
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.experience-section {
  background-color: #fff; /* White background for education section */
  border: 1px solid #ddd; /* Light gray border */
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.leadership-section {
  background-color: #fff; /* White background for education section */
  border: 1px solid #ddd; /* Light gray border */
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.project-section {
  background-color: #fff; /* White background for education section */
  border: 1px solid #ddd; /* Light gray border */
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}
